body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-shadow: 1px 2px pink;
}

/* kanban board  */
.kanban {
  display: flex;
  align-items: flex-start;
}

.kanban__section {
  width: 400px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
}

.kanban__section ~ .kanban__section {
  margin-left: 10px;
}

.kanban__section__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0 20px;
}

.kanban__section__content > * ~ * {
  margin-top: 10px;
}


/* individual cards */
.card {
  padding: 30px;
  background-color: #212121;
  color:#fff; 
  border-radius: 10px;
} 